@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Pathway+Gothic+One&display=swap");

/*----------
Images
----------*/

#hero-haunted-mansion {
    background-image: url(../images/hero-hm.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

#hero-wallpaper {
    background-image: url(../images/hero-wallpaper.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

/*----------
Header
----------*/

#menu-bar,
#menu-bar-levels {
    height: 100px;
}

#menu-bar-levels {
    background-color: rgba(4, 0, 0, 0.5);
}

.site-title {
    padding-left: 60px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #ededef;
}

.site-title:hover {
    color: #6c53a4;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu i,
.gamepage-menu i {
    margin-right: 40px;
    font-size: 32px;
    color: #edeffb;
}

/*----------
Footer
----------*/

#footer {
    height: 60px;
    margin: 0 0 4px;
    line-height: 0;
    padding-top: 16px;
    background-color: rgba(4, 0, 0, 0.5);
}

.inspiration-text p {
    display: block;
    margin-bottom: 10px;
    padding: 0 0 10px 14px;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 12px;
    color: #ededef;
    text-align: center;
}

.inspiration-text a {
    color: #ededef;
}



.copyright-info,
.copyright-info span {
    font-family: "Pathway Gothic One", sans-serif;
    text-align: center;
}

.copyright-info i,
.copyright-info span {
    color: #ededef;
}

/*----------
Hover functionality
----------*/

.site-title:hover,
.menu i:hover,
.enter-game:hover {
    color: #6c53a4;
}

/*----------
Navbar Modal
----------*/

/*With thanks to Traversy Media for their guide to creating modals*/

.nav-modal,
.win-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(237, 239, 251, 0.5);
}

.rule-content,
.win-content {
    background-color: rgba(4, 0, 0, 0.9);
    border: 2px solid #ededef;
    border-radius: 25px;
    color: #ededef;
    margin: 10% auto;
    padding: 20px;
    width: 64%;
    height: 70%;
    animation-name: homeModalOpen;
    animation-duration: 1s;
}

.rules-reminder-header h3,
.win-header {
    margin-top: 40px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #6c53a4;
    text-align: center;
}

.rules-reminder-body,
.win-body,
.win-body a {
    padding: 30px 0 30px 0;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 26px;
    color: #edeffb;
    text-align: center;
}

.rules-reminder-body a {
    font-family: "Cormorant Upright", sans-serif;
    font-size: 26px;
    color: #6c53a4;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

.rules-reminder-footer p,
.rules-reminder-footer a,
.win-footer {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #edeffb;
    text-align: center;
}

.closeNavModal,
.closeWinModal {
    color: #ededef;
    float: right;
    font-size: 52px;
}

.closeNavModal:hover,
.closeNavModal:focus,
.closeWinModal:hover,
.closeWinModal:focus {
    color: #6c53a4;
    text-decoration: none;
    cursor: pointer;
}

/*----------
Main Body
----------*/

section {
    min-height: calc(100vh - 160px);
}

.home-text-container {
    width: 60%;
    margin-bottom: 30px;
    background-color: rgba(4, 0, 0, 0.8);
    border: 2px solid #ededef;
    border-radius: 25px;
}

.title {
    margin-top: 16px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #6c53a4;
    text-align: center;
}

.rules,
.level h4,
.enter-game {
    margin-top: 16px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 30px;
    color: #6c53a4;
    text-align: center;
}

.enter-game {
    margin: 16px 0;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 30px;
    color: #edeffb;
    text-align: center;
    text-underline-position: under;
}

.home-text {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #edeffb;
    text-align: center;
}


/*----------
Levels - Gameboard
----------*/

.turns,
.gameLevel {
    padding: 20px 0 0 0;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 30px;
    color: #ededef;
}

.gameLevel {
    margin-left: 56px;
}

.turns {
    margin-right: 56px;
}

.btn-group-lg > .btn,
.btn-lg {
    margin-top: 30px;
    padding: 4.5rem 10rem;
}

.btn-teal {
    background-color: #4ea0ae;
    border: 1px solid #ededef;
}

.btn-white {
    background-color: #edeffb;
    border: 1px solid #ededef;
}

.btn-purple {
    background-color: #6c53a4;
    border: 1px solid #ededef;
}

.btn-grey {
    background-color: #040000;
    border: 1px solid #ededef;
}

.btn-start,
.btn-reset {
    margin: 30px 0 10px;
    padding: 6px 24px;
    font-family: "Pathway Gothic One", sans-serif;
    color: #ededef;
    font-size: 28px;
    background-color: rgba(7, 127, 81, 0.75);
    border: 1px solid #ededef;
}

.btn-start:hover,
.btn-start:focus,
.btn-reset:hover,
.btn-reset:focus {
    background-color: rgba(7, 127, 81, 1);
}

.hide-content {
    display: none !important;
}

/*----------
Modal animations
----------*/

@keyframes homeModalOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ------------ Styling navbar and turn counter for media devices */
@media (min-width: 320px) and (max-width: 1024px) {
    .site-title {
    margin: 0; 
    padding-left: 12px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 30px;
    color: #ededef;
}

.navbar {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav a,
.navbar-nav button {
    padding: 0;
}

.navbar-collapse {
    justify-content: center!important;
}

.menu i,
.gamepage-menu i {
    font-size: 26px;
    margin: 0;
}

.mobile-padding {
    padding-right: 16px;
}

.turns {
    padding: 10px 12px 0;
}

.inspiration-text p {
    display: none;
}

.copyright-info,
.copyright-info span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
}

/* ------------ Sizing game buttons at different media device breakpoints */

/*---------------------------Laptop and iPad Pro */

@media (min-width: 900px) and (max-width: 1024px) {
    .menu {
        margin-top: 20px;
    }
    
    .menu i {
    font-size: 40px;
    }
    #modalNav {
        margin: 0 12px 0 12px;
    }
    .site-title{
        font-size: 34px;
    }
    .btn-group-lg > .btn,
.btn-lg {
    padding: 72px 160px 72px 120px;
}
}

/*---------------------------iPad */
@media (min-width: 768px) and (max-width: 900px) {
   .menu {
        margin-top: 20px;
    }
    .menu i {
    font-size: 40px;
    }
    #modalNav {
        margin: 0 12px 0 12px;
    }
    .title {
        font-size: 46px;
    }
    .site-title{
        font-size: 34px;
    }
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 72px 120px;
    }
}

@media (min-width: 668px) and (max-width: 768px) {
    .btn-group-lg > .btn,
.btn-lg {
    padding: 72px 80px 72px 120px;
}
}

@media (min-width: 556px) and (max-width: 668px) {
    .btn-group-lg > .btn,
.btn-lg {
    padding: 72px 80px;
}
}

@media (min-width: 556px) and (max-width: 668px) {
    
    .btn-group-lg > .btn,
.btn-lg {
    padding: 72px 80px;
}
}

/*---------------------------Surface Duo  */
@media (min-width: 480px) and (max-width: 556px) {
    #modalNav {
        margin: 0 12px 0 12px;
    }
    
    .btn-group-lg > .btn,
.btn-lg {
    padding: 72px 72px;
}
}

/*---------------------------Moto G4, Galaxy S5, Pixel 2/XL, iPhone 6/7/8/+
Plus/X  */
@media (min-width: 360px) and (max-width: 480px) {
    .menu {
        margin-top: 20px;
    }
    .gamepage-menu {
        margin-top: 0;
    }
    #modalNav {
        margin: 0 12px 0 12px;
    }
    .title {
        font-size: 30px;
    }
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 52px;
    }
}

/*---------------------------iPhone 5/SE  */
@media (min-width: 320px) and (max-width: 360px) {
    .menu {
        margin-top: 20px;
    }
    .gamepage-menu {
        margin-top: 0;
    }
    #modalNav {
        margin: 0 12px 0 12px;
    }
    .title {
    font-size: 26px;
}
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 46px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .gameLevel,
    .turns {
        margin: 0;
    }
}