@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Pathway+Gothic+One&display=swap');

/*----------
Images
----------*/

#hero-haunted-mansion {
    background-image: url(../images/hero-hm.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

#hero-wallpaper {
    background-image: url(../images/hero-wallpaper.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.quicksand-men {
    background-image: url(../images/character-quicksand.jpeg);
    background-position: center;
    background-size: cover;
    height: 386px;
    width: 115px;
}

.tightrope-walker {
    background-image: url(../images/character-tightrope.jpeg);
    background-position: center;
    background-size: cover;
    height: 386px;
    width: 115px;
}

.dynamite-man {
    background-image: url(../images/character-dynamite.png);
    background-position: center;
    background-size: cover;
    height: 386px;
    width: 115px;
}

.widow-tombstone {
    background-image: url(../images/character-widow.jpeg);
    background-position: center;
    background-size: cover;
    height: 386px;
    width: 115px;
}

.imgPlaceholder {
    background-image: url(../images/character-tightrope.jpeg);
    background-position: center;
    background-size: contain;
    height: 168px;
    width: auto;
}

/*----------
Header
----------*/

#menu-bar,
#menu-bar-levels {
    height: 100px;
}

#menu-bar-levels {
    background-color: rgba(4, 0, 0, 0.5);
}

.site-title {
    padding-left: 60px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #ededef;
}

.site-title:hover {
    color: #6c53a4;
}

.menu {
    margin: 0;
    padding:0;
}

.menu i {
    margin-right: 40px;
    font-size: 32px;
    color: #edeffb;
}

/*----------
Footer
----------*/

#footer {
    height: 60px;
    margin: 0;
    line-height: 0;
    padding-top: 20px;
    background-color: rgba(4, 0, 0, 0.5);
}

.inspiration-text p,
.inspiration-text a{
    margin-bottom: 10px;
    padding: 0 0 10px 14px;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 12px;
    color: #ededef;
}

.copyright-info,
.copyright-info span{
    font-family: "Pathway Gothic One", sans-serif;
    text-align: center;
}

.copyright-info i,
.copyright-info span {
    color: #ededef;
    
}

.contact-link i {
    margin-right: 48px;
    font-size: 32px;
    color: #edeffb;
}

/*----------
Hover functionality
----------*/

.site-title:hover,
.menu i:hover,
.contact-link i:hover {
    color: #6c53a4;
}

/*----------
Navbar Modal
----------*/

/*With thanks to Travery Media for their guide to creating modals*/

.nav-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(237, 239, 251, 0.5);
}

.rule-content{
    background-color: rgba(4, 0, 0, 0.8);
    color: #ededef;
    margin: 10% auto;
    padding: 20px;
    width: 60%;
    animation-name: homeModalOpen;
    animation-duration: 1s;
}

.rules-reminder-header {
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #6c53a4;
    text-align: center;
}

.rules-reminder-body {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #edeffb;
    text-align: center;
}

.rules-reminder-body a {
    font-family: "Cormorant Upright", sans-serif;
    font-size: 26px;
    color: #6c53a4;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

.rules-reminder-footer,
.rules-reminder-footer a {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #edeffb;
    text-align: center;
}

.closeNavModal {
    color: #ededef;
    float: right;
    font-size: 52px;
}

.closeNavModal:hover,
.closeNavModal:focus {
    color: #6c53a4;
    text-decoration: none;
    cursor: pointer;
}

/*----------
Main Body
----------*/

section {
    min-height: calc(100vh - 160px);
}

.home-text-container {
    margin-top: 162px;
    margin-bottom: 30px;
    background-color: rgba(4, 0, 0, 0.8);
    border: 2px solid #ededef;
    border-radius: 25px;
}

.title {
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #6c53a4;
    text-align: center;
}

.rules,
.level h4 {
    margin-top: 16px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 30px;
    color: #6c53a4;
    text-align: center;
}

.level h4 {
    text-decoration: underline;
    text-underline-position: under;
}

.home-text {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #edeffb;
    text-align: center;
}

.character-selection {
    justify-content: space-evenly;
}

/*----------
Levels - Dashboard
----------*/

.dashboard {
    position: fixed;
    left: 0;
    bottom: 60px;
    top: 100px;
    z-index: 100;
    padding: 20px 0 0 10px;
    background-color: rgba(4, 0, 0, 0.5);
}

.left-dashboard {
    position: sticky;
    top: 0;
    height: calc(100vh - 195px);
}

.dashboard-headers {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 30px;
    color: #ededef;
    text-align: center;
}

.dash-pad {
    padding-bottom: 20px;
}

.dashboard-difficulty {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #494747;  
}

.active {
    color: #ededef;
}

.db-hs {
    margin-top: 62px;
}

.dashboard-score {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #ededef;
    text-align: center;
}

/*----------
Levels - Gameboard
----------*/

.turns {
    margin: 0;
    padding: 20px 48px 0 0;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 30px;
    color: #ededef;
    text-align: right;
}

.btn-group-lg>.btn, .btn-lg {
    margin-top: 30px;
    padding: 4.5rem 10rem;
}

.btn-teal {
    background-color: #4ea0ae;
    border: 1px solid #ededef;
}

.btn-white {
    background-color: #edeffb;
    border: 1px solid #ededef;
}

.btn-purple {
    background-color: #6c53a4;
    border: 1px solid #ededef;
}

.btn-grey {
    background-color: #040000;
    border: 1px solid #ededef;
}

.btn-start,
.btn-reset {
    margin-top: 30px;
    padding: 6px 24px;
    font-family: "Pathway Gothic One", sans-serif;
    color: #ededef;
    font-size: 28px;
    background-color: rgba(7, 127, 81, 0.75);
    border: 1px solid #ededef;
}

.btn-start:hover,
.btn-start:focus,
.btn-reset:hover,
.btn-reset:focus {
    background-color: rgba(7, 127, 81, 1);
}

.hide-content {
  display: none !important;
}

/*----------
Modal animations
----------*/

@keyframes homeModalOpen{
    from{opacity: 0}
    to{ opacity: 1;}
}

