/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright&family=Pathway+Gothic+One&display=swap");

p,
h5 {
    margin: 0;
}

/*----------
Images
----------*/

#hero-haunted-mansion {
    background-image: url(../images/hero-hm.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
}

#hero-wallpaper {
    background-image: url(../images/hero-wallpaper.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

/*----------
Header
----------*/

#menu-bar,
#menu-bar-levels {
    height: 100px;
}

#menu-bar-levels {
    background-color: rgba(4, 0, 0, 0.5);
}

.site-title {
    padding-left: 60px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #ededef;
}

.menu {
    margin: 0;
    padding: 0;
}

.menu i,
.gamepage-menu i {
    margin-right: 40px;
    font-size: 32px;
    color: #edeffb;
}

/*----------
Footer
----------*/

#footer {
    height: 60px;
    margin: 0;
    line-height: 0;
    padding-top: 16px;
    background-color: rgba(4, 0, 0, 0.5);
}

.inspiration-text p {
    display: block;
    padding: 2px 0 10px 14px;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 12px;
    color: #ededef;
    text-align: center;
}

.inspiration-text a {
    color: #ededef;
}

.copyright-info,
.copyright-info span {
    font-family: "Pathway Gothic One", sans-serif;
    text-align: center;
}

.copyright-info i,
.copyright-info span {
    color: #ededef;
}

/*----------
Hover functionality
----------*/

.site-title:hover,
.menu i:hover,
.gamepage-menu i:hover,
.enter-game:hover {
    color: #6c53a4;
}

.site-title:hover {
    color: #6c53a4;
}

.closeNavModal:hover,
.closeNavModal:focus,
.closeScoreModal:hover,
.closeScoreModal:focus {
    color: #6c53a4;
    text-decoration: none;
    cursor: pointer;
}

.btn-start:hover,
.btn-start:focus,
.btn-reset:hover,
.btn-reset:focus {
    background-color: rgba(7, 127, 81, 1);
}

.win-footer a:hover {
    padding: 10px;
    color: #6c53a4;
    background-color: #ededef;
    border: 1px solid #6c53a4;
    border-radius: 12px;
}

/*----------
Navbar Modal
----------*/

/*With thanks to Traversy Media for their guide to creating modals*/

.nav-modal,
.win-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(237, 239, 251, 0.5);
}

.rule-content,
.win-content {
    background-color: rgba(4, 0, 0, 0.9);
    border: 2px solid #ededef;
    border-radius: 25px;
    color: #ededef;
    margin: 6% auto;
    padding: 0 20px;
    width: 64%;
    height: 70%;
    -webkit-animation-name: homeModalOpen;
    animation-name: homeModalOpen;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.rules-reminder-header h3,
.win-header {
    margin-top: 40px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #6c53a4;
    text-align: center;
}

.rules-reminder-body,
.win-body,
.win-body a,
.win-footer a {
    padding-top: 60px;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 26px;
    color: #edeffb;
    text-align: center;
}

.win-footer a {
    padding: 10px;
    background-color: #6c53a4;
    border: 1px solid #ededef;
    border-radius: 12px;
}

.rules-reminder-body a {
    font-family: "Cormorant Upright", sans-serif;
    font-size: 26px;
    color: #6c53a4;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
}

.rules-reminder-footer {
    padding-top: 60px;
}

.rules-reminder-footer p,
.rules-reminder-footer a,
.win-footer {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #edeffb;
    text-align: center;
}

.closeNavModal,
.closeScoreModal {
    color: #ededef;
    float: right;
    font-size: 52px;
}

.modalChallenge{
    margin-bottom: 10px;
}

.modalPrompt{
    margin-top: 10px;
}

/*----------
Main Body
----------*/

section {
    min-height: calc(100vh - 160px);
}

.home-text-container {
    width: 60%;
    margin-bottom: 30px;
    background-color: rgba(4, 0, 0, 0.8);
    border: 2px solid #ededef;
    border-radius: 25px;
}

.title {
    margin-top: 16px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 50px;
    color: #6c53a4;
    text-align: center;
}

.rules,
.level h4,
.enter-game {
    margin-top: 16px;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 30px;
    color: #6c53a4;
    text-align: center;
}

.enter-game {
    margin: 16px 0;
    font-family: "Cormorant Upright", sans-serif;
    font-size: 30px;
    color: #edeffb;
    text-align: center;
    text-underline-position: under;
}

.home-text {
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 20px;
    color: #edeffb;
    text-align: center;
}

/*----------
Levels - Gameboard
----------*/

.turns,
.gameLevel {
    padding: 20px 0 0 0;
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 30px;
    color: #ededef;
}

.gameLevel {
    margin-left: 56px;
}

.turns {
    margin-right: 56px;
}

.btn-group-lg > .btn,
.btn-lg {
    margin-top: 30px;
    padding: 4.5rem 10rem;
}

.btn-teal {
    background-color: #4ea0ae;
    border: 1px solid #ededef;
}

.btn-white {
    background-color: #edeffb;
    border: 1px solid #ededef;
}

.btn-purple {
    background-color: #6c53a4;
    border: 1px solid #ededef;
}

.btn-grey {
    background-color: #040000;
    border: 1px solid #ededef;
}

.btn-start,
.btn-reset {
    margin: 30px 0 10px;
    padding: 6px 24px;
    font-family: "Pathway Gothic One", sans-serif;
    color: #ededef;
    font-size: 28px;
    background-color: rgba(7, 127, 81, 0.75);
    border: 1px solid #ededef;
}

.hide-content {
    display: none !important;
}

/*----------
Modal animations
----------*/

@-webkit-keyframes homeModalOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes homeModalOpen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ------------ Styling navbar and turn counter for media devices */
@media (min-width: 320px) and (max-width: 1024px) {
    /*----------Header--------*/
    .site-title {
        margin: 0;
        padding-left: 12px;
        font-family: "Cormorant Upright", sans-serif;
        font-size: 30px;
        color: #ededef;
    }

    .navbar {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .navbar-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    .navbar-nav a,
    .navbar-nav button {
        padding: 0;
    }

    .navbar-collapse {
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }

    .menu i,
    .gamepage-menu i {
        font-size: 26px;
        margin: 0;
    }

    .mobile-padding {
        padding-right: 16px;
    }

    /*----------Game page styling--------*/

    .turns {
        padding: 10px 12px 0;
    }

    /*----------Footer--------*/

    .inspiration-text p {
        display: none;
    }

    .copyright-info,
    .copyright-info span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

/* ------------ Sizing game buttons at different media device breakpoints */

/*---------------------------iPad Pro portrait*/

@media (max-width: 1024px) and (orientation: portrait) {

    /*----------Game page styling--------*/
    .turns,
    .gameLevel {
        padding-top: 260px;
    }
}

/*---------------------------Laptop and iPad Pro */
@media (min-width: 900px) and (max-width: 1024px) {

    /*----------Header--------*/
    .menu {
        margin-top: 20px;
    }
    .menu i {
        font-size: 40px;
    }
    .site-title {
        font-size: 54px;
    }

    /*----------Modals--------*/
    #modalNav {
        margin: 0 12px 0 12px;
    }
    .rule-content,
    .win-content {
        margin: 6% auto 2%;
        height: 76%;
    }
    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
    }
    

    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 72px 160px 72px 120px;
    }
}

/*---------------------------iPad */
@media (min-width: 768px) and (max-width: 900px) {
    /*----------Header--------*/
    .menu {
        margin-top: 20px;
    }
    .menu i {
        font-size: 40px;
    }

    .site-title {
        font-size: 34px;
    }
    /*----------Modals--------*/
    #modalNav {
        margin: 0 12px 0 12px;
    }
    .rule-content,
    .win-content {
        margin: 6% auto 2%;
        height: 76%;
    }
    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
        font-size: 40px;
    }

    .rules-reminder-body,
    .win-body,
    .win-body a,
    .win-footer a {
        font-size: 20px;
    }
    .rules-reminder-footer p,
    .rules-reminder-footer a,
    .win-footer {
        font-size: 16px;
    }

    /*----------Home page textbox--------*/
    .title {
        font-size: 46px;
    }
   
    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 72px 120px;
    }
    /*----------Game page styling--------*/
    .gameLevel,
    .turns {
        padding-top: 120px;
    }
}

/*---------------------------Breakpoints while reducing monitor size on laptop */
@media (min-width: 900px) and (max-width: 991px) {
    /*----------Game page Header--------*/
    #menu-bar-levels {
        height: 130px;
    }
}

@media (min-width: 668px) and (max-width: 768px) {
    /*----------Modals--------*/
    .rule-content,
    .win-content {
        margin: 6% auto 2%;
        height: 76%;
    }
    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
        font-size: 40px;
    }

    .rules-reminder-body,
    .win-body,
    .win-body a,
    .win-footer a {
        font-size: 20px;
    }
    .rules-reminder-footer p,
    .rules-reminder-footer a,
    .win-footer {
        font-size: 16px;
    }
    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 72px 80px 72px 120px;
    }
}

@media (min-width: 557px) and (max-width: 677px) {
    /*----------Game page styling--------*/
    .turns,
    .gameLevel {
        padding-top: 20px;
    }
}

@media (min-width: 556px) and (max-width: 668px) {
    /*----------Modals--------*/
    .rule-content,
    .win-content {
        margin: 6% auto 2%;
        height: 76%;
    }
    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
        font-size: 40px;
    }

    .rules-reminder-body,
    .win-body,
    .win-body a,
    .win-footer a {
        font-size: 20px;
    }
    .rules-reminder-footer p,
    .rules-reminder-footer a,
    .win-footer {
        font-size: 16px;
    }
    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 72px 80px;
    }
}

@media (min-width: 556px) and (max-width: 668px) {
    /*----------Modals--------*/
    .rule-content,
    .win-content {
        margin: 6% auto 2%;
        height: 76%;
    }
    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
        font-size: 40px;
    }

    .rules-reminder-body,
    .win-body,
    .win-body a,
    .win-footer a {
        font-size: 20px;
    }
    .rules-reminder-footer p,
    .rules-reminder-footer a,
    .win-footer {
        font-size: 16px;
    }
    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 72px 80px;
    }
}

/*---------------------------Surface Duo  */
@media (min-width: 480px) and (max-width: 556px) {
    /*----------Modals--------*/
    #modalNav {
        margin: 0 12px 0;
    }

    .closeNavModal {
        font-size: 34px;
    }

    .rule-content,
    .win-content {
        margin: 18% auto 2%;
        height: 74%;
    }

    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
        font-size: 34px;
    }
    .rules-reminder-body,
    .rules-reminder-footer,
    .win-body,
    .win-body a,
    .win-footer a {
        padding-top: 30px;
        font-size: 20px;
    }

    .rules-reminder-footer p,
    .rules-reminder-footer a {
        font-size: 14px;
    }
    /*----------Game page styling--------*/
    .turns,
    .gameLevel {
        padding-top: 10px;
    }
    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 72px 72px;
    }
    
}

/*---------------------------Moto G4, Galaxy S5, Pixel 2/XL, iPhone 6/7/8/+
Plus/X  */
@media (min-width: 360px) and (max-width: 480px) {
    /*----Navbars--*/
    .menu {
        margin-top: 20px;
    }
    .gamepage-menu {
        margin-top: 0;
    }
    .title {
        font-size: 30px;
    }
    /*----------Modals--------*/
    #modalNav {
        margin: 0 0 0 12px;
    }

    .closeNavModal {
        font-size: 34px;
    }

    .rule-content,
    .win-content {
        margin: 28% auto 2%;
        height: 74%;
    }

    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
        font-size: 34px;
    }
    .rules-reminder-body,
    .rules-reminder-footer,
    .win-body,
    .win-body a,
    .win-footer a {
        padding-top: 30px;
        font-size: 20px;
    }

    .rules-reminder-footer p,
    .rules-reminder-footer a {
        font-size: 14px;
    }

    .closeScoreModal {
        font-size: 46px;
    }

    .win-body,
    .win-footer a,
    .win-footer {
        font-size: 18px;
    }
    /*----------Game page styling--------*/
    .turns,
    .gameLevel {
        padding-top: 10px;
    }
    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 52px;
    }
}

/*---------------------------iPhone 5/SE  */
@media (min-width: 320px) and (max-width: 360px) {
    /*----------Header--------*/
    .menu {
        margin-top: 20px;
    }
    .gamepage-menu {
        margin-top: 0;
    }

    /*----------Home page text box--------*/
    .title {
        font-size: 26px;
    }
    /*----------Modals--------*/
    #modalNav {
        margin: 0 0 0 12px;
    }

    .rule-content,
    .win-content {
        margin: 28% auto 2%;
        height: 74%;
    }

    .closeNavModal {
        font-size: 34px;
    }

    .rules-reminder-header h3,
    .win-header {
        margin-top: 20px;
        font-size: 30px;
    }
    .rules-reminder-body,
    .rules-reminder-footer,
    .win-body,
    .win-body a,
    .win-footer a {
        padding-top: 30px;
        font-size: 18px;
    }

    .rules-reminder-footer p,
    .rules-reminder-footer a {
        font-size: 12px;
    }

    .closeScoreModal {
        font-size: 46px;
    }

    .win-content {
        height: 80%;
    }
    .win-body,
    .win-footer a,
    .win-footer {
        font-size: 18px;
    }
    /*----------Game page styling--------*/
    .turns,
    .gameLevel {
        padding-top: 10px;
    }
    /*----------Game button styling--------*/
    .btn-group-lg > .btn,
    .btn-lg {
        padding: 46px;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    /*----------Game page styling--------*/
    .gameLevel,
    .turns {
        margin: 0;
    }
}
